<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>セレクトボックスの選択肢にバインドする</title>
  <link rel="stylesheet" href="../main.css">
</head> 
<body>

<div id="app">
  <p>当店のご利用頻度は？：{{ answer }}</p>
  <select v-model="answer">
    <option disabled value="">選択してください</option>
    <option v-for="item in options"
            v-bind:value="item.label" v-bind:key="item.code">
    {{ item.label }}
    </option>
  </select> 
</div>

<script src="https://jp.vuejs.org/js/vue.js"></script>
<script src="select_option.js"></script>
</body>
</html>